
- var domain = '<?php echo esc_url( home_url() ); ?>/'

- var img_p = '<?php echo get_template_directory_uri(); ?>/images/'
- var css_p = '<?php echo get_template_directory_uri(); ?>/css/'
- var js_p = '<?php echo get_template_directory_uri(); ?>/js/'

- var site_name = ''

- var freedial = ''
- var phone = ''
- var fax = ''
- var mail = 'info@'

- var postnum = '〒'
- var address1 = ''
- var address2 = ''
- var address3 = ''
- var address4 = ''


- var businesshour = ''
- var license = ''
- var googleApiKey = '';

- var instagram = ''
- var onlineshop = ''


-
	var pages = {
		home : {
			dir : '',
			name : "コーポレートサイトTOP",
			title : site_name,
			description : '',
			keywords : '',
			url : domain,
			type: 'website'
		},
		works : {
			name : '制作実績',
			en : 'WORKS',
			title : '制作実績 | '+site_name,
			description : '',
			keywords : '',
			dir : './',
			url : domain + 'works/',
			type : 'article'
		},
		topics : {
			name : 'お知らせ',
			en : 'TOPICS',
			title : 'お知らせ | '+site_name,
			description : '',
			keywords : '',
			dir : './',
			url : domain + 'topics/',
			type : 'article'
		},
		contact : {
			name : 'お問い合わせ',
			en : 'CONTACT',
			title : 'お問い合わせ | '+site_name,
			description : '',
			keywords : '',
			dir : './',
			url : domain + 'contact/',
			type : 'article'
		},
		privacypolicy : {
			name : 'プライバシーポリシー',
			en : 'PRIVACY POLICY',
			title : 'プライバシーポリシー | '+site_name,
			description : '',
			keywords : '',
			dir : './',
			url : domain + 'privacypolicy/',
			type : 'article'
		},

	}



- 
	var memberList = [
		{
			role: '',
			name: '',
			en: '',
		},
	]
