section#cta
  section.cta-item.taxi
    .cta-item__inner
      h4.cta-item__title
        span.en.barlow TAXI
        span.ja タクシー予約

      .cta-item__text
        p.text タクシー配車のご予約はこちらから
          br
          |お電話にてお気軽に！

        a.tel.barlow(href="tel:050-3101-6999") 050-3101-6999

  section.cta-item.recruit
    .cta-item__inner
      h4.cta-item__title
        span.en.barlow RECRUIT
        span.ja 採用エントリー

      .cta-item__text
        p.text ハロートーキョーへのご応募を
          br
          |検討中の方はお気軽にお問合せください。

        a.tel.barlow(href="tel:03-6808-7751") 03-6808-7751

        a.m-btn-1.btn(href!='<?php echo esc_url( home_url( "/" ) ); ?>contact/')
          span.m-btn-1__arrow
            span
          span.m-btn-1__text お問い合わせフォーム