|<?php 
|/**
|* @package WordPress 
|* Template Name: 研修制度／福利厚生
|*/
|get_header()
|?>
main#main.welfare
  section#welfare_kv.welfare_kv.is-anim-sec
    .welfare_kv__inner
      h1.welfare__title
        span.ja 研修制度／福利厚生
        span.en.barlow SYSTEM

    .welfare_kv__img

  section#infographic.is-anim-sec
    .contents_inner
      .content_title
        p.top._poppins INFOGRAPHIC
        h2.title 数字で見るハロートーキョー
        p.sub._poppins
      .info_group
        .info_item
          img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/infographic01.svg" alt="")
        .info_item
          img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/infographic02.svg" alt="")
        .info_item
          img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/infographic03.svg" alt="")
        .info_item
          img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/infographic04.svg" alt="")
        .info_item
          img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/infographic05.svg" alt="")
        .info_item
          img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/infographic06.svg" alt="")
        .info_item
          img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/infographic07.svg" alt="")

  section#training.is-anim-sec
    .contents_inner
      .training_section_flex
        .training_section_title
          .content_title
            p.top._poppins TRAINING
            h2.title 研修制度
            p.sub._poppins
        .training_section_contents
          h3.content_subtitle._fs30
            span 未経験入社89％<br>ハイレイベルな接客と<br>ドライブテクニックが身につく
          p.training_section_text ドライバー未経験での入社が89%を超える当社ですが、グループで1万人以上を育成してきた圧倒的な実績とノウハウがあります。<br>業界トップレベルの教育体制により、入社1ヶ月で日本交通のブランド品質を支える乗務員へと成長していただけます。
          .training_section_flow_head
            p 研修の流れ
          .training_section_flow_step
            dl
              dt
                span.step 01
                |  研修センターで導入研修
              dd
                p.flow_step_text 熟練教官による研修で、接客マナーや運転基礎知識をレクチャー。地方出身の方やペーパードライバーも安心できる地理講習も充実しています。

          .training_section_flow_step
            dl
              dt
                span.step 02
                |  普通2種免許の取得
              dd
                p.flow_step_text 普通2種免許取得に必要な学科試験について学びます。免許は提携教習所にて10日程度で取得可能。もちろん費用は全額会社負担です（規定有）。
                .flow_step_point
                  p 10日〜25日間の研修中も10,000円の日当支給あり。講習費もすべて会社が負担し乗務員としての成長をサポートします。

          .training_section_flow_step
            dl
              dt
                span.step 03
                |  先輩社員との路上研修
              dd
                p.flow_step_text ベテラン乗務員による同乗指導を実施。乗務に慣れるまでは日本交通専用乗り場をご利用のお客様を送迎する乗務員として経験を積むことができます。

  section#benefit.is-anim-sec
    .contents_inner
      .content_title
        p.top._poppins BENEFITS
        h2.title 福利厚生
        p.sub._poppins
      .benefit_group
        .icon_card_item
          p.number
            span BENEFITS 01
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit01.svg" width="105" height="105" alt="")
          h3.title 社会保険完備
          .intro
            p.intro_text 健康保険、厚生年金保険、労災保険、雇用保険を入社日から完備することで、安心して働ける環境を整えています。
        .icon_card_item
          p.number
            span BENEFITS 02
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit02.svg" width="105" height="105" alt="")
          h3.title 再雇用制度
          .intro
            p.intro_text 定年後も希望に応じて、75歳まで雇用を延長することができます。ライフスタイルにあった働き方で、年齢を重ねても安心して働き続けていただけます。
        .icon_card_item
          p.number
            span BENEFITS 03
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit03.svg" width="105" height="105" alt="")
          h3.title 資格取得補助
          .intro
            p.intro_text 最短10日間でプロの乗務員として乗務できるようサポート。二種免許取得費用は会社が全額負担します。
        .icon_card_item
          p.number
            span BENEFITS 04
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit04.svg" width="105" height="105" alt="")
          h3.title 健康診断（年2回）
          .intro
            p.intro_text 年に2回の定期健康診断を受診いただき、その費用は全額会社が負担します。
        .icon_card_item
          p.number
            span BENEFITS 05
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit05.svg" width="105" height="105" alt="")
          h3.title 各種表彰制度
          .intro
            p.intro_text 無事故表彰、永年勤続表彰など、長く安全に仕事に取り組む社員を正しく評価しています。
        .icon_card_item
          p.number
            span BENEFITS 06
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit06.svg" width="105" height="105" alt="")
          h3.title 制服貸与
          .intro
            p.intro_text 正社員、アルバイト（GO Crew）それぞれに制服をご用意しています。
        .icon_card_item
          p.number
            span BENEFITS 07
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit07.svg" width="105" height="105" alt="")
          h3.title 産休・育休制度
          .intro
            p.intro_text 男女ともに産休・育休取得実績あり。グループ全体で働きやすさを追求しています。職場復帰しやすい環境を整えています。
        .icon_card_item
          p.number
            span BENEFITS 08
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit08.svg" width="105" height="105" alt="")
          h3.title 屋内全面禁煙
          .intro
            p.intro_text 健康に影響を及ぼす受動喫煙を防ぐべく、事務所スペースの分煙に取り組んでいます。
        .icon_card_item
          p.number
            span BENEFITS 09
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit09.svg" width="105" height="105" alt="")
          h3.title バイク・自転車通勤OK
          .intro
            p.intro_text バイクや自転車での通勤もOKです。駐輪スペースは自由にご利用ください。
        .icon_card_item
          p.number
            span BENEFITS 10
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit10.svg" width="105" height="105" alt="")
          h3.title 会員制福利厚生サービス
            br
            |「日本交通福利厚生俱楽部」
          .intro
            p.intro_text 会員証を提示することで様々な割引を受けることができます。
            
        .icon_card_item
          p.number
            span BENEFITS 11
          .icon
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/walfare/benefit11.svg" width="105" height="105" alt="")
          h3.title クラブ活動
          .intro
            p.intro_text 野球部、ゴルフ部、カラオケ部など多様なクラブ活動が自由参加で楽しめます。
|<?php get_footer(); ?>