
#wrapper {
  //overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  background: #F0F0F0;
}

#content {
  overflow: hidden;
  position: relative;
  z-index: 2;

}

.l-section {
  @include liquidSize(padding-top, 95, 180);
  @include liquidSize(padding-bottom, 95, 180);
}

.l-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @include liquidSize(width, 1150, 750);
  @include max-screen($breakpoint-sm) {
    @include liquidSize(padding-left, 0, 30);
    @include liquidSize(padding-right, 0, 30);
    max-width: 100%;
  }
  @include min-screen($breakpoint-md) {
    //width: 1220px;
  }
}

.l-box-1 {
  
}

.l-content {
  @include min-screen($breakpoint-md) {
    display: flex;
  }
}
.l-content__gr-1 {
  @include liquidSize(width, 400, 690);
}
.l-content__gr-2 {
  @include liquidSize(width, 750, 690);
}
.page-subpage {
  @include liquidSize(padding-top, 90, 90);
}


#header {
  &.is-white {
    background: transparent;
    .logo {
      img {
        filter: brightness(0) invert(1);
      }
    }
    @include max-screen($breakpoint-sm) {
      .h_head {
        background: transparent;
      }
      .global_nav_border {
        &:before,
        &:after {
          background-color: #fff;
        }
      }
      .global_nav_text {
        color: #fff;
      }
    }
    @include min-screen($breakpoint-md) {

      .global_nav_link {
        color: #fff;
      }
    }
  }
}

