@charset "utf-8";
@import "utility/font";

.m-sm {
  @include min-screen($breakpoint-md) {
    display: none !important;
  }
}
.m-md {
  @include max-screen($breakpoint-sm) {
    display: none !important;
  }
}

.m-smmd {
  @include min-screen($breakpoint-lg) {
    display: none;
  }
}
.m-lg {
  @include max-screen($breakpoint-lg) {
    display: none;
  }
}


/* ----------------------------------------------------------

ボタン

---------------------------------------------------------- */

.m-btn-1 {
  @include liquidSize(width, 322, 352);
  @include liquidSize(height, 51, 66);
  @include liquidSize(border-radius, 33, 66);
  border: solid 1px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.3s ease-in-out;
  }

  &:before {
    border-radius: 40px;
    background-color: #fff;
    transform: translateX(-101%);
    z-index: 1;
  }

  &:after {
    //background-color: #282828;
  }
  .m-btn-1__text {
    font-weight: 700;
    line-height: 1;
    @include liquidSize(font-size, 15, 20);
    color: #fff;
    font-weight:700; /* bold */
    letter-spacing: 0em;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }

  .m-btn-1__arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 11;
    @include liquidSize(width, 20, 20);
    @include liquidSize(height, 8, 8);
    margin-top: -3px;
    span {
      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background-size: cover;
        transition: all 0.2s ease-in-out;
      }
      &:before {
        background-image: url(../assets/img/icon/arrow_white.svg);
      }
      &:after {
        background-image: url(../assets/img/icon/arrow.svg);
        opacity: 0;
      }
    }
  }

  @include min-screen($breakpoint-md) {
    &:hover {
      color: #282828;
      &:before {
        transform: translateX(0%);
      }
      .m-btn-1__text {
        color: #282828;
      }
      .m-btn-1__arrow {
        span {
          &:before {
            opacity: 0;
            transform: translateX(100%);
          }
          &:after {
            opacity: 1;
            transform: translateX(0%);
          }

        }   
      }
    }
  }
}


