@charset "utf-8";
@import "utility/font";

.m-sm {
  @include min-screen($breakpoint-md) {
    display: none !important;
  }
}
.m-md {
  @include max-screen($breakpoint-sm) {
    display: none !important;
  }
}

.m-smmd {
  @include min-screen($breakpoint-lg) {
    display: none;
  }
}
.m-lg {
  @include max-screen($breakpoint-lg) {
    display: none;
  }
}

/* ----------------------------------------------------------

ページネーション

---------------------------------------------------------- */

.m-pagination-container {
  @include liquidSize(padding-bottom, 100, 100);
  .wp-pagenavi {
    display: flex;
    align-items: center;
    @include max-screen($breakpoint-sm) {
      justify-content: center;
    }
    @include min-screen($breakpoint-md) {
      justify-content: flex-end;
    }
  }

  a,
  .current {
    @include liquidSize(margin-left, 5, 15);
    @include liquidSize(margin-right, 5, 15);
    @include liquidSize(width, 20, 60);
    @include liquidSize(height, 20, 60);

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    letter-spacing: 0;
    @include liquidSize(font-size, 12, 37);
    line-height: 1;
    font-weight: 500; /* medium */
    color: #fff;
  }
  a {
    background: #b6c8e3;
    transition: all 0.4s ease;
    @include min-screen($breakpoint-md) {
      &:hover {
        background: $primary;
      }
    }
  }

  .current {
    background: $primary;
    color: #fff;
  }

  .previouspostslink,
  .nextpostslink {
    background: $primary;
    transition: all 0.4s ease;
    @include min-screen($breakpoint-md) {
      &:hover {
        background: #b6c8e3;
      }
    }
  }
}


/* ----------------------------------------------------------

見出し

---------------------------------------------------------- */
.m-head-1 {
  display: flex;
  justify-content: center;
  @include liquidSize(margin-bottom, 78, 120);
  .m-head-1__txt {
    //縦書き
    writing-mode: vertical-rl;

  }
  .ja {
    @include liquidSize(font-size, 18, 36);
    font-weight:700; /* bold */
    letter-spacing: 0.44em;
    display: block;
  }
  .en {
    @include mont;
    color: #BEBEBE;
    @include liquidSize(font-size, 14, 28);
    font-weight:700; /* bold */
    letter-spacing: .125em;
  }
}



.m-copy-1 {
  .t-display-m {
    display: block;
  }
  .en {
    @include liquidSize(margin-top, 45, 44);
    display: block;
    @include mont;
    @include liquidSize(font-size, 14, 28);
    font-weight:700; /* bold */
    letter-spacing: 0.145em;
    text-align: right;
    @include liquidSize(line-height, 21, 42);
    box-sizing: border-box;
    @include min-screen($breakpoint-md) {
      padding-right: 1.2em;
    }
  }
}
.m-copy-1__gr-1 {
  display: flex;
  @include max-screen($breakpoint-sm) {
    
  }
  @include min-screen($breakpoint-md) {
    justify-content: center;
  }
  + .m-copy-1__body {
    @include liquidSize(margin-top, 75, 160);
  }
}
.m-copy-1__txt {
  @include max-screen($breakpoint-sm) {
    text-align: left;
    width: 100%;
  }
  @include min-screen($breakpoint-md) {
    text-align: center;
  }
}
.m-copy-1__body {
  @include liquidSize(width, 550, auto);
  margin-left: auto;
  margin-right: auto;
  &:not(:last-of-type) {
    @include liquidSize(margin-bottom, 40, 80);
  }
}

.m-num-1 {
  @include mont;
  @include liquidSize(font-size, 34, 60);
  font-weight:700; /* bold */
  letter-spacing: 0.145em;
  position: relative;
  &:before {
    content: "";
    @include liquidSize(width, 15, 30);
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    @include liquidSize(bottom, -11, -22);
  }
}


/* ----------------------------------------------------------

ボタン

---------------------------------------------------------- */

.m-btn-1 {
  @include liquidSize(width, 442, 670);
  @include liquidSize(height, 65, 130);
  @include liquidSize(border-radius, 33, 65);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: solid 1px #646464;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: #fff;

  color: #000000;
  @include liquidSize(font-size, 16, 32);
  font-weight:700; /* bold */
  letter-spacing: 0.04em;

  position:relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    //box-shadow: 0 0 10px 0 rgba(15, 255, 15, 1), inset 0 0 5px 0 rgba(15, 255, 15, 1);
    position: absolute;
    top: 0;
    left: 0;
    @include liquidSize(border-radius, 33, 65);
    opacity: 0;
  }
  &:after {
    content: "";
    @include liquidSize(width, 10, 20);
    @include liquidSize(height, 10, 20);
    border-radius: 50%;
    background: #000000;
    position: absolute;
    top: 50%;
    @include liquidSize(right, 27, 54);
    translate: 0 -50%;
  }

  @include min-screen($breakpoint-md) {
    transition: all .5s ease-in-out;
    &:after {
      transition: all .5s ease-in-out;
    }
    &:hover {
      background: #fefffe;
      scale: 1.1;
      &:before {
        //animation: pulseMbtn1 1.5s infinite 0.6s;
      }
      &:after {
        @include liquidSize(width, 16, 40);
        @include liquidSize(height, 16, 40);
        @include liquidSize(right, 24, 54);
      }
    }
  }
}

@keyframes pulseMbtn1 {
  0% {
    box-shadow: 0 0 10px 0 rgba(210, 210, 225, 1), inset 0 0 5px 0 rgba(210, 210, 225, 1);
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  75% {
    box-shadow: 0 0 30px 0 rgba(210, 210, 225, 1), inset 0 0 10px 0 rgba(210, 210, 225, 1);
    opacity: 0;
    transform: scale3d(1.1, 1.4, 1);
  }
  100% {
    box-shadow: 0 0 30px 0 rgba(210, 210, 225, 1), inset 0 0 10px 0 rgba(210, 210, 225, 1);
    opacity: 0;
    transform: scale3d(1.1, 1.4, 1);
  }
}



.m-works-list-1 {
  @include min-screen($breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.m-works-list-1__item {
  @include liquidSize(height, 495, 488);
  background: {
    size: 100% auto;
    repeat: no-repeat;
    position: center;
  }
  position: relative;
  overflow: hidden;
  @include max-screen($breakpoint-sm) {
    width: 100%;
  }
  @include min-screen($breakpoint-md) {
    width :50%;
    &:hover {
      .m-works-list-1__img {
        transform: scale(1.1);
      }
    }
  }
}
.m-works-list-1__link {
  position: relative;
  z-index: 2;
  color: #989898;
  display: block;
  height: 100%;
  .content {
    @include liquidSize(font-size, 15, 30);
    font-weight:500; /* medium */
    letter-spacing: 0.04em;

    position: absolute;
    @include liquidSize(left, 19, 30);
    @include liquidSize(top, 19, 30);
  }
  .content-inner {
    //縦書き アルファベットは横書き
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .work,
  .client {
    display: block;
  }
  .work {

  }
  .client {

  }
  .cat {
    @include liquidSize(font-size, 14, 28);
    font-weight:500; /* medium */
    letter-spacing: 0.04em;
    position: absolute;
    @include liquidSize(left, 15, 30);
    @include liquidSize(bottom, 15, 30);
    @include max-screen($breakpoint-sm) {
      display: none;
    }
  }
  .cat-item {
    display: block;
  }
}

.m-works-list-1__img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}