$primary: #88abda;
$black: #000000;

$secondary: #0070d1;

$gray: #878b9d;
$blue: #505876;

$grad1: linear-gradient(to right, #fccd00 0%, #e5352b 100%);
$grad2: linear-gradient(
  to right,
  #fccd00 0%,
  #fccd00 25%,
  #fccd00 50%,
  #e5352b 100%
);
$grad3: linear-gradient(to bottom, #fccd00 0%, #e5352b 100%);
$yellow: #fffff7;
