.t-bold {
  font-weight: 700; /* bold */
}

.t-head-1 {
  color: $secondary;
  font-weight: 600; /* demibold */
  @include liquidSize(font-size, 40, 30);
}

.t-body-1 {
  @include liquidSize(font-size, 16, 28);
  @include liquidSize(line-height, 25, 25);
}

.t-a-c {
  text-align: left;
}

.t-a-c {
  text-align: center;
}

.t-a-r {
  text-align: right;
}



.t-display-m {
  @include liquidSize(font-size, 75, 120);
  font-weight:700; /* bold */
  letter-spacing: 0.15em;
  @include liquidSize(line-height, 75, 190);
  rt {
    display: none;
  }
  [data-ruby] {
      position: relative;
  }
  [data-ruby]::before {
      content: attr(data-ruby);
      position: absolute;
      @include liquidSize(top, -14, -10);
      left: 50%;
      translate: -50% 0;
      @include liquidSize(font-size, 14, 28);
      @include liquidSize(line-height, 14, 28);
      width: 100%;
      height: 1em;
      text-align: center;
      letter-spacing: 1.6em;
      white-space: nowrap;
      box-sizing: border-box;
      padding-left: 0.8em;
  }
}

.t-display-s {
  @include liquidSize(font-size, 60, 44);
  font-weight:700; /* bold */
  @include max-screen($breakpoint-sm) {
    letter-spacing: 0.05em;
  }
  @include min-screen($breakpoint-md) {
    letter-spacing: 0.15em;
  }
  @include liquidSize(line-height, 85, 66);
}

.t-body-m {
  @include liquidSize(font-size, 18, 32);
  letter-spacing: 0.04em;
  @include liquidSize(line-height, 38, 60);
}

.t-body-s {
  @include liquidSize(font-size, 16, 28);
  letter-spacing: 0.04em;
  @include liquidSize(line-height, 34, 50);
}